.footer
  .p 
    span © 2017 - 2020 
    i.fa.fa-star
    span  Core
  .by_farbox
    span Powered by 
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo 
    span  & 
    a(href="https://github.com/mrcore/hexo-theme-Anatole-Core", target="_blank") Anatole-Core.  
    a(href="http://www.beian.miit.gov.cn/", target="_blank")  &nbsp;粤ICP备15011643号
