.footer
  .p 
    span © #{theme.copyright} 
    i.fa.fa-star
    span  #{theme.author}

  .by_farbox
    span Powered by 
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo 
    span  & 
    a(href="https://github.com/mrcore/hexo-theme-Anatole-Core", target="_blank") Anatole-Core  
  .beian
    a(href="http://www.beian.miit.gov.cn/", target="_blank") #{theme.beian}
    span(style="height:10px;margin-left: 10px;") |
    img(src="https://qn.jixian.io/gongan.png" style="height:10px;margin-left: 10px;position: relative;top: 1px;")
    span(style="margin-left: 2px;") #{theme.gongan}
